.page {
    background-color: #FAF3E6;
}

.wrapper {
    height: 1000px;
}

.title {
    font-size: 4em;
    padding: 80px 20px;
    margin: auto auto;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.container__main--image {
    height: 60%;
    max-width: 70%;
    width: 70%;
    display: flex;
    margin: 10px auto 50px;
    /*justify-content: space-around;*/
}

.main--image {
    max-width: 90%;
    display: flex;
    flex: 2 2 90%;
    margin: auto;
}

.arrow {
    background-color: grey;
    /*flex: 1 1 10%;*/
    margin: auto 0;
    height: 50px;
    border-radius: 40px;
}

.container__small--image {
    max-width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.list--item {
    margin: 10px;
}

.small--image {
    display: inline-block;
    max-width: 80px;
}
