.page {
    background-color: #FAF3E6;
    width: 100%;
}

.title {
    font-size: 4em;
    padding: 80px 20px;
    margin: auto auto;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.main--image {
    max-width: 60%;
    display: block;
    margin: auto auto 10px;;
}

.container__small--image {
    max-width: 550px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.list--item {
    margin: 10px;
}

.small--image {
    display: inline-block;
    max-width: 80px;
}
