.container {
    height: 150px;
    display: flex;
    justify-content: flex-start;
}

.green {
    background-color: green;
    width: 25%;
}

.yellow {
    background-color: yellow;
    width: 50%;
}

.purple {
    background-color: purple;
    width: 25%;
}
