* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.wrapper {
    margin: auto;
    max-width: 1000px;
    margin-top: 20px;
}

header {
    background-color: purple;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
}

.item {
    background-color: cyan;
    margin-right: 10px;
    padding: 5px 30px;
    align-self: center;
}

.sideitem {
    background-color: cyan;
    margin-right: 10px;
    padding: 5px 10px;
    align-self: center;
}

a {
    text-decoration: none;
    color: cyan;
    padding-left: 10px;
}

li {
    list-style: none;
}

.main {
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
}

main {
    background-color: yellow;
    flex: 1 1 100%;
}

.box-container {
    min-height: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.redbox {
    background-color: tomato;
    flex: 1;
    min-width: 15%;
    padding: 80px 25px;
    margin: 10px;
}

main p {
    margin: 20px 10px;
}

article {
    display: flex;
    justify-content: flex-start;
}

article p {
    flex: 1;
    align-self: flex-start;
}

aside {
    background-color: green;
    flex: 1 1 400px;
}

.greybox {
    background-color: grey;
    margin: 10px;
    padding: 20px;
}

aside p {
    margin: 20px 10px;
}

p {
    font-family: Arial, sans-serif;
    text-align: justify;
}
