* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.wrapper {
    margin: auto;
    max-width: 1000px;
    margin-top: 20px;
}

header {
    background-color: purple;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.item {
    list-style: none;
    background-color: cyan;
    margin-right: 10px;
    padding: 5px 10px;
    align-self: center;
}

a {
    text-decoration: none;
    color: cyan;
    padding-left: 10px;
}

.main {
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
}

main {
    background-color: yellow;
    flex: 1 1 100%;
}

aside {
    background-color: green;
    flex: 1 1 400px;
}
