body {
    background: #ebebeb;
}

.page {
    font-family: Arial, sans-serif;
}

.container__navbar {
    padding: 30px;
    padding-bottom: 0;
    background: #3499af;
    position: fixed;
    right: 0;
    left: 0;
}

.container__navbar--title {
    color: #ebebeb;
    font-size: 3rem;
}

.container__main {
    padding: 100px 30px;
    display: flex;
    justify-content: flex-start;
}

.container__main--position {
    padding: 5px 10px;
    text-align: center;
    align-self: center;
    font-size: 1.4rem
}

.counter {
    padding: 5px;
}

.arrow {
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.container__main--arrows {
    padding: 5px;
}

.arrow.up {
    background-image: url( "assets/upvote.png");
}

.arrow.down {
    background-image: url( "assets/downvote.png");
}

.container__main--post {
    padding: 10px;
    line-height: 1.2rem;
}

.container__main--post a {
    text-decoration: none;

}

.post-content {
    text-decoration: none;
    font-size: 1.6rem;
    color: #227ff1;
}

.post-data {
    font-size: .8rem;
    color: #888888;
    padding-bottom: 10px;
}

.modify, .remove {
    padding-right: 10px;
}
