body {
    background: #ebebeb;
}

.page {
    font-family: Arial, sans-serif;
    padding-top: 100px;
}

.container__navbar {
    padding: 30px;
    padding-bottom: 0px;
    background: #3499af;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.container__navbar--title {
    color: #ebebeb;
    font-size: 3rem;
}
