* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.wrapper {
    margin: auto;
    width: 800px;
    margin-top: 20px;
}

header {
    background-color: skyblue;
    padding: 50px;
}

.main {
    height: 450px;
    display: flex;
    justify-content: flex-start;
}

main {
    background-color: #20d1ac;
    flex-grow: 2;
    margin: 0 2%;
    display: flex;
    justify-content: flex-end;
}

.black.box {
    background-color: black;
    align-self: flex-end;
    width: 80px;
    height: 80px;
    margin: 3%;
}

.left {
    background-color: orange;
    flex-grow: 1;
}

.right {
    background-color: purple;
    flex-grow: 1;
}

footer {
    background-color: blue;
    padding: 50px;
    margin-bottom: 20px;
}
