* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

button {
    background: #43ccac;
    background: linear-gradient(#43ccac 0%, #20d1ac 44%, #00cea1 100%);
    padding: 15px 30px;
    margin: 5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 10px 2px rgba(62,97,89,0.31);
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: #EFEFEF;
    text-shadow: 8px 5px 12px rgba(150, 150, 150, 1);
}

button:hover {
    background: #00cea1;
    background: linear-gradient(to bottom, #00cea1 0%,#20d1ac 56%,#43ccac 100%);
    text-shadow: 8px 5px 12px rgba(150, 150, 150, 1);
}

button:active {
    color: grey;
    box-shadow: -3px -3px 10px 2px rgba(62,97,89,0.31);
    text-shadow: -8px -5px 12px rgba(150, 150, 150, 1);
}
