body {
    background: #20EEE1;
}

.container__main {
    width: 65vw;
    margin: 10vh auto;
    background: linear-gradient(to bottom, rgba(239,1,141,1) 0%,rgba(249,211,24,1) 100%);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.container__main--title {
    margin: 50px;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.form {
    display: flex;
}

.input, .button {
    font-size: 1.5rem;
}

.input {
    flex: 1 1 90%;
}

.button {
    background: #0AD2D2;
    flex-grow: 1 1 10%
}

.container__main--todo {
    margin: auto;
    line-height: 2rem;
}

.container__main--list {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.list-item {
    display: flex;
    justify-content: space-between;
}
