.wrapper {
    margin: auto;
    max-width: 900px;
    font-family: Arial, sans-serif;
}

.menubar {
    display: flex;
    justify-content: space-between;
    background-color: #20d1ac;
    padding: 10px;
}

.menubar__menu a {
    text-decoration: none;
    color: rgb(100, 100, 100);
    padding: 5px;
    display: flex;
}

.menubar__menu.inlinks {
    justify-content: flex-start;
}

.menubar__menu.exlinks {
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.container__text {
    flex: 1 1 70%;
}

.container__info {
    background-color: rgb(71, 71, 71);
    color: rgb(253, 255, 252);
    flex: 1 1 30%;
}

.container__info--img {
    display: block;
    width: 80%;
    margin: 10%;
}
